/* Notebook组件样式 */
.notebook-widget {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.notebook-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.notebook-header {
    border-bottom: 1px solid var(--box-solid-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

.notebook-header h6 {
    font-size: 1.2rem;
    color: var(--highlight-color);
    margin: 0;
}

.notebook-statistics-container {
    display: inline-flex;
    overflow: hidden;
    margin-bottom: 6px;
    padding: 0;
}

.NSC-part {
    min-width: 30px;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-color);
    border: 1px solid rgba(121, 120, 120, 0.87);
    border-right: none;
    border-left: none;
    border-top: none;
    font-size: 10px;
    padding: 2px 6px 2px 6px;
    box-sizing: border-box;
    white-space: nowrap;
}

#refreshBtn4note {
    background-color: var(--widget-blur-color);
    border: none;
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
    color: inherit;
    transition: all 0.3s ease;
}

#refreshBtn4note:hover {
    background: rgba(255, 255, 255, 0.2);
}


.notebook-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.notebook-content::-webkit-scrollbar {
    display: none;
}

.notebook-content {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.notebook-list {
    flex: 1;
    padding: 6px 10px 10px;
}

.notebook-list::-webkit-scrollbar {
    display: none;
}

.notebook-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.notebook-content p {
    color: var(--text-color);
    opacity: 0.7;
    font-size: 1rem;
}

.note-item {
    margin-bottom: 6px;
    padding: 0px 10px;
    border-radius: 8px;
    /*background-color: var(--notebook-list);*/
    border: 1px solid var(--box-solid-color);
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
}

.note-item:hover {
    transform: translateX(5px);
    background-color: var(--widget-blur-color);
}

.note-item:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--hover-color);
    z-index: -1;
    border-radius: 8px;
}

.note-item-container {
    flex: 1;
}

.note-item-options {
    width: 10%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.note-title {
    font-size: 16px;
    /*font-weight: bold;*/
    margin: 2px 0px;
    color: var(--text-color);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 350px;
}

.note-content {
    font-size: 14px;
    margin-bottom: 8px;
    color: var(--text-color);
    opacity: 0.9;
}

.note-meta {
    font-size: 10px;
    color: var(--text-color);
    opacity: 0.7;
    display: flex;
    justify-content: space-between;
}

.end-of-list {
    text-align: center;
    font-size: 0.8rem;
    color: var(--text-color);
    opacity: 0.5;
}


.notebook-legend {
    color: var(--shadow-color);
    font-size: 0.6rem;
    opacity: 0.7;
    margin: 0;
    text-align: right;
}